@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$text-shadow-color: #D0CCB9;
$text-color: #333;
$light-text-color: #555;

/* Custom, iPhone Retina */ 
@mixin mobile-xs {
  @media only screen and (min-width : 320px) {
    @content;
  }
}

/* Extra Small Devices, Phones */ 
@mixin mobile {
  @media only screen and (min-width : 480px) {
    @content;
  }
}

/* Small Devices, Tablets */
@mixin tablet {
  @media only screen and (min-width : 768px) {
    @content;
  }
}

/* Medium Devices, Desktops */
@mixin desktop {
  @media only screen and (min-width : 992px) {
    @content;
  }
}

/* Large Devices, Wide Screens */
@mixin desktop-xl {
  @media only screen and (min-width : 1200px) {
    @content;
  }
}

@mixin drop-shadow($args) {
  filter: drop-shadow($args);
  -moz-filter: drop-shadow($args);
  -webkit-filter: drop-shadow($args);
}

html, div {
  box-sizing: border-box;
}

body {
  background-image: url(/images/halftone.png);
  background-repeat: repeat;
  color: $text-color;
  font-family: $sans-serif;
  padding: 10px;
}

.content {
  margin: 0 auto;
}

.welcome {
  animation-duration: 1000ms;
  animation-name: fadein;
  -moz-animation-duration: 1000ms;
  -moz-animation-name: fadein;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: fadein;

  padding-top: 10px;
  text-align: center;

  .avatar {
    margin: 0 auto 10px auto;

    @include mobile-xs {
      width: 192px;
    }

    @include desktop {
      width: 384px;
    }

    img {
      @include drop-shadow(0 0 8px #555);
      width: 100%;
    }
  }

  .title {
    text-shadow: 2px 2px 1px $text-shadow-color;
    text-transform: uppercase;

    @include mobile-xs {
      font-size: 32px;
    }

    @include desktop {
      font-size: 54px;
    }
  }

  .roles {
    color: $light-text-color;
    text-transform: uppercase;

    @include mobile-xs {
      font-size: 14px;
    }

    @include desktop {
      font-size: 24px;
    }
  }

  .social-nav {
    .list {
      margin: 0;
      padding: 0;
    }

    .item {
      display: inline-block;
      margin: 0 5px;

      a {
        color: $text-color;
        display: inline-block;
        opacity: 0.5;
        transition: opacity 500ms;

        @include mobile-xs {
          font-size: 40px;
        }

        @include desktop {
          font-size: 58px;
        }

        &:hover {
          animation-duration: 500ms;
          animation-name: shake;
          -moz-animation-duration: 500ms;
          -moz-animation-name: shake;
          -webkit-animation-duration: 500ms;
          -webkit-animation-name: shake;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  $amount: 2deg;

  0%   { transform: rotate(0deg); }
  25%  { transform: rotate($amount); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-$amount); }
  100% { transform: rotate(0deg); }
}

@-moz-keyframes shake {
  $amount: 2deg;

  0%   { transform: rotate(0deg); }
  25%  { transform: rotate($amount); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-$amount); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes shake {
  $amount: 2deg;

  0%   { transform: rotate(0deg); }
  25%  { transform: rotate($amount); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-$amount); }
  100% { transform: rotate(0deg); }
}
