@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$shadow-color: #D0CCB9;
$text-color: #333;
$light-text-color: #555;
$nav-header-bg-color: #fff;

@import 'compass/css3';
@import 'mixins/devices';
@import 'header';

html, div, header {
  @include box-sizing(border-box);
}

body {
  background-image: url(/images/halftone.png);
  background-repeat: repeat;
  color: $text-color;
  font-family: $sans-serif;
  font-size: 16px;
}

.content {
  margin: 0 auto;
  padding: 80px;
}

.welcome {
  @include animation-duration(1s);
  @include animation-name(fadein);

  padding-top: 20px;
  text-align: center;

  .avatar {
    margin: 0 auto 10px auto;

    @include mobile-xs {
      width: 192px;
    }

    @include desktop {
      width: 384px;
    }

    img {
      @include filter(drop-shadow(0 0 8px #555));
      width: 100%;
    }
  }

  .title {
    @include text-shadow(2px 2px 1px $shadow-color);

    text-transform: uppercase;

    @include mobile-xs {
      font-size: 32px;
    }

    @include desktop {
      font-size: 54px;
    }
  }

  .roles {
    color: $light-text-color;
    text-transform: uppercase;

    @include mobile-xs {
      font-size: 14px;
    }

    @include desktop {
      font-size: 24px;
    }
  }

  .social-nav {
    .list {
      margin: 0;
      padding: 0;
    }

    .item {
      display: inline-block;
      margin: 0 5px;

      a {
        color: $text-color;
        display: inline-block;
        opacity: 0.5;
        @include transition(opacity 500ms);

        @include mobile-xs {
          font-size: 40px;
        }

        @include desktop {
          font-size: 58px;
        }

        &:hover {
          @include animation-duration(500ms);
          @include animation-name(shake);
          opacity: 1;
        }
      }
    }
  }
}

.page {
  font-size: 24px;
}

@include keyframes(fadein) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(shake) {
  $amount: 2deg;

  0%   { @include transform(rotate(0deg)); }
  25%  { @include transform(rotate($amount)); }
  50%  { @include transform(rotate(0deg)); }
  75%  { @include transform(rotate(-$amount)); }
  100% { @include transform(rotate(0deg)); }
}
