%header.nav-header
  %nav
    %ul.nav-list
      %li.brand Jeremy Fairbank
      -#%li= link_to 'About',       '#about'
      -#%li= link_to 'Open Source', '#open-source'
      -#%li= link_to 'Conferences', '#conferences'
      %li= link_to 'Blog',        'http://blog.jeremyfairbank.com'

    %ul.social-nav-list
      %li
        = link_to 'https://github.com/jfairbank' do
          %span.fa.fa-github
      %li
        = link_to 'https://twitter.com/ElPapaPollo' do
          %span.fa.fa-twitter
