%header.nav-header
  %nav
    %ul.nav-list
      %li.brand Jeremy Fairbank
      -#%li= link_to 'About',       '#about'
      -#%li= link_to 'Open Source', '#open-source'
      -#%li= link_to 'Conferences', '#conferences'
      %li= link_to 'Blog',        site.blog_url

    %ul.social-nav-list
      %li
        = social_link :github, use_fa: true
      %li
        = social_link :twitter, use_fa: true
